.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.aside {
    width: 300px;
    margin-right: 1.5rem;
}

.main {
    width: calc(100% - 1.5rem);
}

.postsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

@media (max-width: 1200px) {
    .row {
        padding: 0 2rem;
    }
}

@media (max-width: 960px) {
    .postsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .aside {
        margin-bottom: 30px;
        width: 100%;
    }

    .main {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .postsList {
        grid-template-columns: 1fr;
    }
}